---
const platform = "github"
const username = "kaiofelps"
---

<style>
    footer {
        text-align: center;
        padding: 12px 24px;
        border-top: 1px solid #00000010;
    }
</style>

<footer>
    <p>Aprenda mais sobre meus projetos no meu <a href={`https>://www.${platform}.com/${username}`} target="_blank">{platform}</a></p>
</footer>