---
import Hamburguer from "./Hamburguer.astro"
---
<style>
    header {
        padding: 0 24px;
        background: #ffb986;
        border-bottom: 2px solid black;
    }

    nav {
        display: flex;
        align-items: center;
    }

    .link {
        display: block;
        padding: 32px;
        background: transparent;
        color: #000000;
        text-decoration: none;
        font-weight: bold;

        border-right: 2px solid black;
    }
    .link:first-child {
        border-left: 2px solid black;
    }
    .link:hover {
        background: #7700ff;
        color: white;
    }
    .link:active {
        background: #b87bff;
    }

    .nav-links {
        width: 100%;
        display: none;
        margin-bottom: 16px;
    }

    .expanded {
        display: flex;
    }

    @media (min-width: 636px) {
        .nav-links {
            display: flex;
            position: static;
            width: auto;
            background: none;
            margin-bottom: 0;
        }

        .nav-links a {
            display: inline-block;
        }
    }
</style>

<header>
    <nav class="nav-links">
        <a class="link" href="/">Home</a>
        <a class="link" href="/about">Sobre</a>
        <a class="link" href="/blog">Blog</a>
        <a class="link" href="/tags">Tags</a>
    </nav>
    <Hamburguer />
</header>