---
import "../styles/global.css"
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MetaHead from "../components/MetaHead.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props
const pageTitle = frontmatter.title
---

<BaseLayout title={pageTitle}>
    <style>
        main {
            width: calc(100% - 24px);
            max-width: 720px;
            margin: 48px auto;
        }
    
        article {
            background: white;
            border-radius: 4px;
            border: 2px solid black;
        }
        
        header {
            padding: 16px 24px;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        
        h1 {
            margin: 0;
            padding: 0;
            line-height: auto;
        }
    
        header p {
            margin: 0;
            color: black;
            font-weight: 700;
        }
    
        .content {
            padding-inline: 24px;
            padding-bottom: 24px
        }
        
        .go-back-btn {
            font-weight: bold;
            text-transform: uppercase;
            color: black;
            font-size: 1rem;

            background-color: rgb(60, 138, 233);
            margin-bottom: 32px;
            
            border: 2px solid black;
            border-radius: 999px;
            box-shadow: 4px 4px 0 0 #0b1476;
            padding: 12px 32px;
            transition: all 75ms ease-in;
        }
        .go-back-btn:hover {
            filter: brightness(0.98);
        }
        .go-back-btn:active {
            box-shadow: 0 0 0 0 #0b1476;
            filter: brightness(0.9);
            transform: scale(0.95);
        }

        .tag {
            font-size: .875rem;
            font-weight: 700;
            padding: 4px 12px;
            line-height: 1.25;
            border-radius: 999px;
            background: #ff9e7450;
        }

        .tag-container {
            border-bottom: 2px solid black;
            border-top: 2px solid black;
            margin: 0px 0 32px 0;
            padding: 16px 24px;
            display: flex;
            gap: 4px;
        }
    </style>
    
    <main>
        <button class="go-back-btn">Go back</button>
        <article>
            <header>
                <h1>{frontmatter.title}</h1>
                <p>Written by {frontmatter.author} • {new Date(frontmatter.pubDate).toDateString()}</p>
            </header>

            <div class="tag-container">
                {frontmatter.tags.map(tag => {
                    return (
                        <span class="tag">{tag}</span>
                    )
                })}
            </div>

            <div class="content">
                <slot/>
            </div>
        </article>
    </main>
    <script>
        document.querySelector(".go-back-btn").addEventListener("click", () => history.back())
    </script>
</BaseLayout>